/* body {
  background-color: #f8f8f8;
  color: rgb(24, 24, 24);
  margin: 0;
} */

#toggle-style {
  border-color: white;
  color: white;
  background-image: '';
  background-image: url('svgs/mangologo-orange.svg');
}

