/* body {
  background-color: #f8f8f8;
  color: rgb(24, 24, 24);
  margin: 0;
} */

#toggle-style {
  border-color: none;
  background-image: "";
  background-image: url('svgs/toggle.svg');
  background-repeat: no-repeat;
}

